@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
} 

body {
  background: cyan;
}


header {
  background: yellow;
  display: flex;
  flex-direction: row;
  width: 100%;
}

#mainTitle {
  background: rgb(184, 22, 24);
  width: 70%;
}

#mainTitle h1 {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  letter-spacing: 1px;
  font-size: 2.5rem;
  font-weight: bolder;
  text-align: center;
}

/* Menu */

nav {
  background-color: black;
  width: 30%;
}
nav ul {
  display: flex;
  background: green;
  list-style-type: none;
  margin: auto;
  text-align: left;
}

nav li {
  margin: 0 auto;
}

nav a {
  color: whitesmoke;
  font-size: 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}

/************************ Partie main ************************/

.main {
  background: purple;
  overflow: hidden;
}

.container {
  background-color: yellow;
  border: 1px grey solid;
  margin: 20px;
}

.container img {
  display: block;
  margin : 0 auto
}

footer {
  background: red;
}
