body {
  font-family: Arial, Helvetica, sans-serif;
  background: aquamarine;
}
/***************************** Partie header **************************************************/
header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#main-title {
  background: rgb(184, 22, 24);
  width: 80%;
}

#main-title h1 {
  color: whitesmoke;
  font-size: 2rem; /*24pt*/
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

/* Menu */

nav {
  background-color: black;
  width: 30%;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav li {
  margin-right: 15px;
}

nav a {
  color: whitesmoke;
  font-size: 1.3em;
  text-decoration: none;
}

/*********************** Partie Main ********************************************************/


.main {
  background-color: blue;
  /*padding-top: 10px;*/
}

/* mise en page générale des div dans la div main*/

.main-div {
  background-color: yellow;
  border: 1px grey solid;
  box-shadow: 3px 3px 5px grey;
  margin: 10px;
}

.main-div h2 {
    color: rgb(184, 22, 24);
    text-transform: uppercase;
    text-align: center;
  }


/* Partie stade */  
.stadium-div img{
    display: block;
    border: 1px black solid;
    margin:5px auto 10px auto;
}



/* Partie maillots */
.shirts-div {
  text-align: center;
}

.shirts-container {
  border: none;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.shirts {
  height: 500px;
  width: 450px;
  padding: 5px;
  margin: 10px;
}

.squad-table{
    border-collapse: collapse ;
}

.squad-table caption{
    border: 1px black solid;
}
.squad-table thead th{
    border: 1px black solid ;
}


.squad-table td{
    border: 1px black solid ;
}


/********************************Footer *******************************************************/


.footer{
    background-color: rgb(160, 95, 139);
}
